{% extends 'bdata/base.html' %}

{% block title %}
Find Your Bus - BUSe
{% endblock title %}

{% block header-orange %}
<div class="row text-white justify-content-center" style="font-family: Montserrat, sans-serif;padding-top: 80px;padding-bottom: 80px;padding-right: 10px;padding-left: 10px;">
    <div class="col-12 col-sm-8 col-lg-6 col-xl-4 align-self-center">
        <div class="container border rounded border-white">
            <form name="find-form" action="" method="post" style="padding: 20px;margin: 30px;" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Route</label>
                        <select name="route" class="form-control" required="">
                            <option value="" hidden="">Select your route</option>
                            {% for route in routes %}
                            <option value={{ route.id }}>{{ route }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Boarding Point</label>
                        <select name="bpoint" class="form-control" required="">
                            <option value="" hidden="">Select your boarding point.</option>
                            {% for bpoint in bpoints %}
                            <option value={{ bpoint.id }}>{{ bpoint.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                        <button class="btn btn-outline-light btn-block" type="submit">Find your Bus</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        {% for routed in routeds %}
            <p>{{ routed }}</p>
        {% endfor %}
    </div>
</div>

{% endblock header-orange %}