{% extends 'bdata/base.html' %}
{% load static %}
{% block title %}
BUSe
{% endblock title %}

{% block header-orange %}
<div class="container hero" style="font-family: Montserrat, sans-serif;"">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 offset-xl-1 align-self-start" style="padding-right: 15px;">
            <h1 style="font-size: 33px;">Your Search for Buses Ends Here</h1>
            <p>BUSe is the best way to find and locate your bus. It is ideal for commuters. With BUSe, you never miss your bus.</p><a class="btn btn-outline-light btn-lg" href={% url 'find' %}>Find Your Bus</a></div>
            <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                <div class="iphone-mockup"><img class="device" src={% static '/img/iphone.svg' %}></div>
            </div>
        </div>
    </div>
</div>
{% endblock header-orange %}

{% block sections %}

{% endblock sections %}