{% extends 'bdata/base.html' %}
{% block title %}
Search - BUSe
{% endblock title %}

{% block header-orange %}
<div class="container hero" style="font-family: Montserrat, sans-serif; padding-bottom : 50px;">
        <div class="row">
            <div class="col-2 col-sm-2 col-md-1 d-flex justify-content-md-center align-items-md-center" style="padding-bottom: 20px;">
                <a class="d-flex justify-content-center align-items-center btn btn-outline-light" href={% url 'find' %} style="padding-top: 6px;margin-top: 15px;">
                    <i class="material-icons d-lg-flex justify-content-lg-center align-items-lg-center">arrow_back</i>
                </a>
            </div>
            <div
                class="col d-flex d-sm-flex d-md-flex justify-content-center align-items-center align-items-sm-center justify-content-md-center">
                <h3 class="d-sm-flex justify-content-sm-start align-items-sm-center justify-content-lg-center" style="font-size: 20px;color: rgb(255,255,255);">Buses on the selected route</h3>
        </div>
</div>
<div class="row">
        {% for bus in buses %}
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 10px 15px;">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h4 class="card-title">{{ bus }}</h4>
                    <h6 class="text-muted card-subtitle mb-2">Just passed {{ bpoint_selected.name }}</h6>
                    <p class="card-text"></p><a class="card-link btn btn-outline-light btn-block" href="#">Details</a></div>
            </div>
        </div>
        {% endfor %}
        
</div>
{% endblock header-orange %}    